@media only screen and (max-width: 499px) {
  .container {
    width: 60%; }

  .gallery-main {
    display: flex; }
    .gallery-main p {
      font-size: 14px;
      font-weight: bold;
      color: black;
      margin-left: -160px;
      padding-left: 175px; }

  #one {
    display: none; }

  .stephen {
    display: none; }

  .design-influences {
    margin-left: -10px;
    font-size: 25px;
    font-weight: bold; }

  #two {
    width: 375px;
    height: 375px;
    margin: 2px; }

  .mario {
    font-size: 15px; }

  #six {
    display: none; }

  .six {
    display: none; }

  #elliot-main {
    position: relative;
    left: -120px; } }
* {
  box-sizing: border-box; }

@font-face {
  font-family: "nikefont";
  src: url("https://www.nike.com/styleguide/assets/fonts/nike/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"); }
p {
  font-family: nikefont;
  font-size: 25px;
  text-align: center;
  margin-left: -40px;
  font-weight: 400;
  color: #775e09; }

header {
  width: 100%;
  border-bottom: 1px solid #775e09; }

#name {
  font-family: nikefont;
  font-size: 40px;
  margin-left: 30px; }

#name {
  transition: all 2s linear; }

#name:hover {
  background-color: aqua;
  border: 4px solid #8B4513;
  font-size: 35px; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

header li {
  display: inline;
  font-family: nikefont;
  margin: 15px;
  padding: 30px;
  font-size: 20px;
  color: #775e09; }

a {
  text-decoration: none;
  color: #775e09; }

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #775e09; }

li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
  margin-left: -50px;
  font-weight: bold;
  margin: 20px;
  font-family: nikefont; }

.container {
  max-width: 100%; }

body {
  background-color: #FCFBE3; }

.main-gallery {
  display: flex;
  justify-content: center; }

#elliot-main {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid #8B4513;
  margin-top: 100px;
  margin-left: 200px;
  transition: transform 500ms ease-in-out; }

#elliot-main:hover {
  transform: translate(180px, 1300px) rotate(90deg); }

.gallery-main {
  display: flex;
  justify-content: center; }

.design-influences {
  font-size: 30px;
  font-family: nikefont;
  margin-left: -30px;
  padding-top: 30px;
  color: black; }

#one {
  margin-left: 40px; }

img {
  margin-top: 70px;
  width: 610px;
  height: 300px;
  margin-right: 50px;
  margin-left: 10px;
  justify-content: center; }

.design-text {
  font-family: nikefont;
  text-align: center; }

.gallery-two {
  display: flex;
  justify-content: center; }

#interests {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: -100px;
  padding-top: 100px; }

#three, #four, #five {
  width: 400px;
  height: 400px;
  padding: -200px; }

#three {
  margin-left: 40px; }

.gallert-three {
  display: flex; }

.gallery-content-six {
  display: flex;
  flex-direction: column; }

#six {
  width: 1200px;
  height: 400px;
  justify-content: center;
  margin-left: 500px;
  margin-right: 400px;
  margin-bottom: 75px; }

/*# sourceMappingURL=styles.css.map */
