footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #775e09;
}

li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
  margin-left: -50px;
  font-weight: bold;
  margin: 20px;
  font-family: nikefont;
}

// .websites {
//   font-size: 90px;
//   font-family: nikefont;
//   color: black;
// }
