.container {
  max-width: 100%
}

body {
  background-color: $cream;
  // background-image: url("../img/city.jpg");
  // background-size: cover;
  // background-position: center;
}



.main-gallery {
  display: flex;
  justify-content: center;
}


#elliot-main {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid #8B4513;
  margin-top: 100px;
  margin-left: 200px;
  transition: transform 500ms ease-in-out;
}


#elliot-main:hover {
  transform: translate(180px, 1300px) rotate(90deg);
}

.gallery-main {
  display: flex;
  justify-content: center;
}


.design-influences {
  font-size: 30px;
  font-family: nikefont;
  margin-left: -30px;
  padding-top: 30px;
  color: black;
}


#one {
  margin-left: 40px;
}

img {
  margin-top: 70px;
  width: 610px;
  height: 300px;
  margin-right: 50px;
  margin-left: 10px;
  justify-content: center;
}

.design-text {
  font-family: nikefont;
  text-align: center;
}

.gallery-two {
  display: flex;
  justify-content: center;
}

#interests {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: -100px;
  padding-top: 100px;
}

#three, #four, #five {
  width: 400px;
  height: 400px;
  padding: -200px;
}

#three {
  margin-left: 40px;
}

.gallert-three {
  display: flex;
  // justify-content: center;
 }
.gallery-content-six {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#six {
  width: 1200px;
  height: 400px;
  justify-content: center;
  // padding: -100px;
  // margin-left: 500px;
  // margin-right: 400px;
  margin-bottom: 75px;
}

// .six {
//   display: block;
// }
// .design-influences {
//   color: black;
// }
